body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  text-align: center;
}
.hexcolor {
  text-transform: capitalize;
      }
.hex {
  font-size: 3rem;
}
.button {
  color: #fa8072;
  border: 5px solid #fa8072;
  border-radius: 7px;
  padding: 0.75rem 0.75rem;
  font-size: 2rem;
  background: rgba(0,0,0,0.6);
  cursor: pointer;
  outline: none;
  text-transform: capitalize;
}
.button:hover {
  background: rgb(0, 0, 0);
}
